build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CPackConfig.cmake
build/CPackSourceConfig.cmake
build/CTestTestfile.cmake
build/DartConfiguration.tcl
build/Makefile
build/NovaSquadron
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-e33ac40f4bd416676f87.json
build/.cmake/api/v1/reply/cmakeFiles-v1-aeb9c11b6543de718d18.json
build/.cmake/api/v1/reply/codemodel-v2-795275bfe33c31732454.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/index-2023-10-09T06-41-51-0331.json
build/.cmake/api/v1/reply/target-novaSquadron-Debug-36b871e3e8767c968434.json
build/.cmake/api/v1/reply/toolchains-v1-98db68dc864d2bc8173c.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/a.out
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.27.4/CMakeCCompiler.cmake
build/CMakeFiles/3.27.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.27.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.27.4/CMakeSystem.cmake
build/CMakeFiles/3.27.4/CompilerIdC/a.out
build/CMakeFiles/3.27.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.27.4/CompilerIdCXX/a.out
build/CMakeFiles/3.27.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/NovaSquadron.dir/build.make
build/CMakeFiles/NovaSquadron.dir/cmake_clean.cmake
build/CMakeFiles/NovaSquadron.dir/compiler_depend.internal
build/CMakeFiles/NovaSquadron.dir/compiler_depend.make
build/CMakeFiles/NovaSquadron.dir/compiler_depend.ts
build/CMakeFiles/NovaSquadron.dir/depend.make
build/CMakeFiles/NovaSquadron.dir/DependInfo.cmake
build/CMakeFiles/NovaSquadron.dir/flags.make
build/CMakeFiles/NovaSquadron.dir/link.txt
build/CMakeFiles/NovaSquadron.dir/progress.make
build/CMakeFiles/NovaSquadron.dir/src/appWindow.cpp.o
build/CMakeFiles/NovaSquadron.dir/src/appWindow.cpp.o.d
build/CMakeFiles/NovaSquadron.dir/src/game.cpp.o
build/CMakeFiles/NovaSquadron.dir/src/game.cpp.o.d
build/CMakeFiles/NovaSquadron.dir/src/main.cpp.o
build/CMakeFiles/NovaSquadron.dir/src/main.cpp.o.d
build/CMakeFiles/NovaSquadron.dir/src/NovaSquadron.cpp.o
build/CMakeFiles/NovaSquadron.dir/src/NovaSquadron.cpp.o.d
build/CMakeFiles/novaSquadron.dir/build.make
build/CMakeFiles/novaSquadron.dir/cmake_clean.cmake
build/CMakeFiles/novaSquadron.dir/compiler_depend.internal
build/CMakeFiles/novaSquadron.dir/compiler_depend.make
build/CMakeFiles/novaSquadron.dir/compiler_depend.ts
build/CMakeFiles/novaSquadron.dir/depend.make
build/CMakeFiles/novaSquadron.dir/DependInfo.cmake
build/CMakeFiles/novaSquadron.dir/flags.make
build/CMakeFiles/novaSquadron.dir/link.txt
build/CMakeFiles/novaSquadron.dir/progress.make
build/CMakeFiles/novaSquadron.dir/src/appWindow.cpp.o
build/CMakeFiles/novaSquadron.dir/src/appWindow.cpp.o.d
build/CMakeFiles/novaSquadron.dir/src/game.cpp.o
build/CMakeFiles/novaSquadron.dir/src/game.cpp.o.d
build/CMakeFiles/novaSquadron.dir/src/novaSquadron.cpp.o
build/CMakeFiles/novaSquadron.dir/src/novaSquadron.cpp.o.d
build/CMakeFiles/novaSquadron.dir/src/core/appWindow.cpp.o
build/CMakeFiles/novaSquadron.dir/src/core/appWindow.cpp.o.d
build/CMakeFiles/novaSquadron.dir/src/core/game.cpp.o
build/CMakeFiles/novaSquadron.dir/src/core/game.cpp.o.d
build/Testing/TAG
build/Testing/20231008-1928/Test.xml
build/Testing/20231009-0635/Test.xml
build/Testing/Temporary/LastTest_20231008-1928.log
build/Testing/Temporary/LastTest_20231009-0635.log
build/bin/NovaSquadron
build/bin/novaSquadron
build/.cmake/api/v1/reply/index-2023-10-09T13-52-17-0482.json
build/CMakeFiles/Progress/1
build/CMakeFiles/Progress/2
build/CMakeFiles/Progress/count.txt
build/.cmake/api/v1/reply/codemodel-v2-8b7a87b320897e4276ff.json
build/.cmake/api/v1/reply/index-2023-10-12T20-19-48-0879.json
build/.cmake/api/v1/reply/target-novaSquadron-Debug-febb23ae7fb540c93c86.json
build/CMakeFiles/Progress/3
build/CMakeFiles/Progress/4
build/CMakeFiles/Progress/8
build/CMakeFiles/novaSquadron.dir/src/world/background.cpp.o.d
build/CMakeFiles/novaSquadron.dir/src/world/enemy.cpp.o
build/CMakeFiles/novaSquadron.dir/src/world/enemy.cpp.o.d
build/CMakeFiles/novaSquadron.dir/src/world/entity.cpp.o
build/CMakeFiles/novaSquadron.dir/src/world/entity.cpp.o.d
build/CMakeFiles/novaSquadron.dir/src/world/player.cpp.o
build/CMakeFiles/novaSquadron.dir/src/world/player.cpp.o.d
build/CMakeFiles/novaSquadron.dir/src/world/world.cpp.o.d
build/Testing/20231012-1849/Test.xml
build/Testing/Temporary/LastTest_20231012-1849.log
